html {
    width: 100vw;
    height: 100vh;
  }
  body.choboquinha{
    /* font-family: 'Nunito', sans-serif;
    font-weight: 700; */
    margin: auto;
    width:100%;
    height: 100%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: #50a3a2;
    background: linear-gradient(to bottom right, #141e30 0%, #243b55 100%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: rgb(255, 255, 255)!important;
    
  }


.title-header h4 {
    /* background: #fff; */
    color: #ffffff;
    display: inline-block;
    /* font-weight: 600; */
    line-height: 40px;
    margin: 0;
    /* padding: 0 30px; */
    position: relative;
    text-transform: uppercase;
    font-family: "Verdana";
    /* border: 2px solid #28d094; */
}
  .box {
    border: 3px solid #666;
    background-color: rgb(163, 204, 238);
    border-radius: .2em;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    line-height: 0.95;
    padding: 0 30px 0 30px;
    cursor: move;
  }
  .label {
    font-size: 20px;
    font-weight: 600;
    color:#efa;
  }
  .box.over {
    border: 3px dotted #666;
  }
  .dropzone.over {
    border: 3px solid rgb(255, 109, 109);
    background-color: rgb(255, 211, 211);
    border-radius: .2em;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    line-height: 0.95;
    padding: 0 30px 0 30px;
    height: 100px;
    width: 100px;
  }
  .dropzone {
    display: none;

  }
 
#edittext .form-control:disabled{
  background-color: rgba(233,236, 239, 0.624)!important
}


  
  .media-file {
    border: 3px solid #204161;
    background-color: #394148;
    border-radius: .4em;
  }
  .drop_zone {
    border: 3px solid #1e3852;
    background-color: #57636f;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 100%;
    
  /* pointer-events: none; */

  }
  .drop_zone.over {
    border: 3px dotted #5CD85A;
    border-radius: .5em;
  }

  .dropbtn {
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  button span {
    pointer-events: none;
  }
  a span {
    pointer-events: none;
  }
  div span {
    pointer-events: none;
  }



/* tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
tbody tr:nth-child(even) {
  background-color: #d3d3d3;
} */
 thead tr{
  background-color: #686868;
  font-weight: bold;
  color: white;
 }
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
}

.inputfile + label:hover {
  background-color: rgb(65, 65, 65);
  cursor: pointer;
}


.enviar {

  display: flex;
  justify-content: center;
  align-items: center;

}

.imagens {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.excluir {
  background-color: #e91818;
  border-radius: .3em;
  color: white;
  cursor:pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form {
  width: 38px;
  display: block;
  padding: .375rem .45rem;
  font-size: 1rem;
  line-height: 1.0;
  color: #495057;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out,box-shadow .15s ease-in-out;
}
.form:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.image-preview-input {
overflow: hidden;
margin: 0px;    
  color: #333;
  background-color: #fff;
  border-color: #ccc;    
}
.image-preview-input input[type=file] {
font-size: 22px;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out,box-shadow .15s ease-in-out;
}
.image-preview-input-title:hover {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
i {
  vertical-align: middle;
}
 .clearList{
  display: none;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out,box-shadow .15s ease-in-out;

 }
 .clearList:hover{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.enviar {
  font-size: 20px;
  vertical-align: middle;
}
.plus{
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
} 

#divdrop{
  display: none
}

#textedit{
display: block
}
#confirmedit{
  display: none
}
.material-icons{
  vertical-align: middle
}

#divexcluir{
  display:none
}
#dvCSV{
  max-height: 290px;
  overflow: auto;
}
#enviados{
  max-height: 290px;
  overflow: auto;
}
hr{
  background-color: #3b628f;
}